[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=EraserTool
X-Python-2-Compatible=false
Name=Plugin as Eraser Tool
Comment=Dedicated Eraser Tool
